body {
  background-color: rgb(221, 255, 250);
  font-family: initial;
}
button {
  position: absolute;
  background-color: rgb(166, 250, 227);
  font-family: initial;
  font-size: 1.8em;
  cursor: pointer;
  border-radius: 20px;
  border: 2px solid rgb(20, 140, 107);
}
button:active {
  position: relative;
  background-color: rgb(57, 238, 189);
}
button:disabled {
  cursor: initial;
  opacity: 0.2;
}
button:focus {
  outline: none;
}

#text {
  width: 40%;
  height: 20%;
  position: absolute;
  left: 0px;
  top: 30%;
  text-align: center;
  font-size: 1.25em;
}
.divintext {
  padding-left: 20px;
  padding-right: 20px;
}
#alert {
  color: red;
}
#prevalert {
  color: red;
  opacity: 0.7;
}
#itemtext {
  color: rgb(168, 13, 176);
}
#message {}
#forms {
  text-align: center;
}
#inputnum{
  width: 75px;
  height: 75px;
  position: relative;
  font-size: 24px;
  border-radius: 8px;
  border: 1px solid rgb(34, 59, 135);
  background-color: rgb(182, 195, 236);
  margin-right: 10px;
  text-align: center;
  padding-left: 10px;
}
#inputnum:focus {
  outline: none;
}
#submitinput{
  width: 85px;
  height: 80px;
  position: relative;
  background-color: rgb(182, 195, 236);
  font-size: 24px;
  cursor: pointer;
  border-radius: 10px;
  border: 1px solid rgb(34, 59, 135);
  margin-left: 10px;
}
#submitinput:active {
  background-color: rgb(129, 154, 228);
}
#prevmessage{
  opacity: 0.7;
}

#status {
  width: 62%;
  height: 16%;
  position: fixed;
  left: 38%;
  top: 0px;
  font-size: 20px;
  font-family: initial;
  z-index: 2;
  background-color: rgba(221, 255, 250, 0.8);
}
#life {
  color: rgb(228, 31, 72);
  position: relative;
  left: 6%;
  top: 60%;
}
#gold {
  color: rgb(233, 181, 22);
  position: relative;
  left: 16%;
  top: 60%;
}
#openinv {
  background-color: rgb(210, 199, 179);
  color: rgb(65, 43, 17);
  font-size: 20px;
  display: none;
  position: relative;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgb(111, 77, 14);
  left: 26%;
  top: 60%;
}
#openinv:active {
  background-color: rgb(167, 141, 94);
  color: rgb(255, 229, 199);
}
#openset {
  background-color: rgb(210, 199, 179);
  color: rgb(65, 43, 17);
  font-size: 20px;
  display: none;
  position: relative;
  width: 100px;
  height: 30px;
  border-radius: 10px;
  border: 1px solid rgb(111, 77, 14);
  left: 36%;
  top: 60%;
}
#openset:active {
  background-color: rgb(167, 141, 94);
  color: rgb(255, 229, 199);
}

#inventory {
  position: fixed;
  background-color: rgb(98, 66, 27);
  min-width: 120px;
  max-width: 400px;
  min-height: 105px;
  z-index: 10;
  display: none;
  border-radius: 20px;
  border: 1px solid rgb(38, 23, 4);
  box-shadow: -5px 5px 5px 0px black;
  left: 30%;
  top: 20%;
  text-align: center;
}
#dragbar {
  cursor: pointer;
  width: 100%;
  height: 25px;
  border-bottom: solid black 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(65, 43, 17);
}
#invheader {
  position: relative;
  right: 5px;
  color: rgb(224, 186, 140);
  font-size: 20px;
  top: 1px;
  z-index: 12;
}
#closeinv {
  color: rgb(17, 10, 3);
  background-color: rgb(65, 43, 17);
  right: 0px;
  top: 0px;
  border-radius: 0px;
  border-top-right-radius: 20px;
  border: 0px;
  border-bottom: 1px solid black;
  width: 25px;
  height: 26px;
  font-size: 16px;
  z-index: 11;
}
#closeinv:hover {
  color: rgb(250, 54, 54);
}
#closeinv:active {
  position: absolute;
  background-color: rgb(65, 43, 17);
  color: rgb(213, 12, 12);
}
#itemspace {
  margin: 0px;
}
#itemspace img {
  width: 58px;
  height: 58px;
  border: 1px solid rgb(81, 29, 84);
  border-radius: 4px;
  margin: 10px;
  cursor: pointer;
}
#itemspace img:hover {
  width: 60px;
  height: 60px;
  margin: 9px;
}

#dropdown {
  width: 60px;
  height: 55px;
  display: none;
  position: fixed;
  z-index: 15;
  background-color: rgb(222, 237, 237);
  text-align: center;
  color: rgb(6, 17, 42);
  border: 1px rgb(51, 161, 161) solid;
  cursor: pointer;
}
#dropdown p {
  padding: 2px;
  margin: 0px;
  font-size: 20px;
}
#dropdown p:hover {
  background-color: rgb(122, 237, 237);
}
#use {
  border-bottom: 1px solid rgb(51, 161, 161);
}

#settings {
  position: fixed;
  background-color: rgb(98, 66, 27);
  min-width: 120px;
  max-width: 520px;
  min-height: 120px;
  z-index: 10;
  display: none;
  border-radius: 20px;
  border: 1px solid rgb(38, 23, 4);
  box-shadow: -5px 5px 5px 0px black;
  left: 100px;
  top: 100px;
  text-align: center;
}
#settingsdragbar {
  cursor: pointer;
  width: 100%;
  height: 25px;
  border-bottom: solid black 1px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: rgb(65, 43, 17);
}
#setheader {
  position: relative;
  right: 5px;
  color: rgb(224, 186, 140);
  font-size: 20px;
  top: 1px;
  z-index: 12;
}
#closeset {
  color: rgb(17, 10, 3);
  background-color: rgb(65, 43, 17);
  right: 0px;
  top: 0px;
  border-radius: 0px;
  border-top-right-radius: 20px;
  border: 0px;
  border-bottom: 1px solid black;
  width: 25px;
  height: 26px;
  font-size: 16px;
  z-index: 11;
}
#closeset:hover {
  color: rgb(250, 54, 54);
}
#closeset:active {
  position: absolute;
  background-color: rgb(65, 43, 17);
  color: rgb(213, 12, 12);
}
#actualsettings {

}
#actualsettings button {

}
#actualsettings #applyset {

}

#visual {
  position: absolute;
  left: 40%;
  top: 200px;
}
#laby {
  border: 0.3em solid rgb(28, 16, 4);
  border-collapse: collapse;
  background-color: rgb(209, 205, 241);
}
#laby td {
  border: 0.1em dashed rgb(55, 82, 22);
  width: 80px;
  height: 80px;
  background-size: 80px 80px;
  background-repeat: no-repeat;
}
#laby td.explored {
  background-image: url("../Images/Compass.png");
  opacity: 0.05;
}
#laby td.xmark {
  background-image: url("../Images/BigX.png");
  opacity: 0.5;
}
#laby td.xmark.minotaur {
  background-image: url("../Images/BigXMinotaur.png");
  opacity: 1;
}
#laby td.xmark.player {
  background-image: url("../Images/BigXPlayer.png");
  opacity: 1;
}
#laby td.flagmark {
  background-image: url("../Images/Flag.png");
  opacity: 0.5;
}
#laby td.flagmark.minotaur {
  background-image: url("../Images/FlagMinotaur.png");
  opacity: 1;
}
#laby td.flagmark.player {
  background-image: url("../Images/FlagPlayer.png");
  opacity: 1;
}
#laby td.starmark {
  background-image: url("../Images/Star.png");
  opacity: 0.5;
}
#laby td.starmark.minotaur {
  background-image: url("../Images/StarMinotaur.png");
  opacity: 1;
}
#laby td.starmark.player {
  background-image: url("../Images/StarPlayer.png");
  opacity: 1;
}
#laby td.minotaur {
  background-image: url("../Images/Minotaur.jpeg");
  opacity: 1;
}
#laby td.player {
  background-image: url("../Images/Torch.jpg");
  opacity: 1;
}
#laby td.wall {}
#laby td.path {}

#buttons {
  width: 40%;
  height: 60%;
  position: fixed;
  left: 0%;
  top: 0%;
  background-color: rgba(221, 255, 250, 0.8);
}
#buttons h1 {
  position: absolute;
  font-size: 3vw;
  color: rgb(168, 13, 176);
  left: 8%;
  top: 3%;
}
#enter {
  top: 25%;
  left: 25%;
  height: 10vh;
  width: 50%;
}
#enter:active {
  top: 26%;
  left: 24%
}
#north {
  top: 50%;
  left: 41%;
  height: 10vh;
  width: 10vh;
}
#north:active {
  top: 51%;
  left: 40%;
}
#east {
  top: 60%;
  left: 61%;
  height: 10vh;
  width: 10vh;
}
#east:active {
  top: 61%;
  left: 60%;
}
#south {
  top: 70%;
  left: 41%;
  height: 10vh;
  width: 10vh;
}
#south:active {
  top: 71%;
  left: 40%;
}
#west {
  top: 60%;
  left: 21%;
  height: 10vh;
  width: 10vh;
}
#west:active {
  top: 61%;
  left: 20%;
}
